</main>

<!-- Bootstrap JS -->
<script src="res/bootstrap/js/bootstrap.bundle.js"></script>

<!-- Custom JS -->
<script src="res/js/blackmode/blackmode.js"></script>
<script src="res/js/characterCount/characterCount.js"></script>

</body>

</html>